.bar {
    position: relative;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addForm > label > input,button {
    border-radius: 6px;
}
form {
    height:100vh;
    
}