.bar {
    min-height: 73vh;
    position: relative;
    background-color: rgb(105, 151, 146);
    display: flex;
    justify-content: center;
    
}
.addForm > label > input,button {
    border-radius: 6px;
}
/* form {
    min-height: 73vh;
    
} */