.header {
    display: inline-flex;
    color: turquoise;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100px;
    padding: 10px;
}
.header-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 40px;
    
  }

.link {
    text-decoration: none;
}

.dropbtn {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: none;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.0rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0.6rem 1.0rem;
    text-align: center;
    text-decoration: none;
  }
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100px;
    left: -70px;
  }
  
  .dropdown-content .link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;   
   
  }
  @media screen and (max-width: 600px) {
    .header-links{
        display: none;
    }
    .dropbtn {
        display: inline-flex;
        
    }
    .dropdown{
      display: block;
      position: relative;
    }
    .show{
      background-color: rgb(105, 151, 146);
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        position: absolute;
        left:-190px;
        top:20px;
    }
  }

