.footer {
    background-color: rgba(122, 99, 99, 0.577);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialLinks{
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: font-size 0.3s;
}
.socialLinks:hover {
    font-size: 45px;
}