* {
  box-sizing: border-box;
  padding: 0 px;
  margin: 0 px;
}

.nav{
  min-height: 230px;
  max-height: 30vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
.loggedName{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.loginInput {
  height: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  align-items: center;
}
.inputField {
  border-radius: 6px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.6rem 1.0rem;
  text-align: center;
  font-size: 1.0rem;
  font-weight: 600;
}
.textAreaField{
  border-radius: 6px;
  line-height: 1;
  margin: 0;
  outline: none;
  font-size: 1.0rem;
  padding: 0.6rem 1.0rem
}

.searchBar{
  text-align: center;
}
.searchBar > input{
  width: 60%;
  border-radius: 6px;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.0rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.6rem 1.0rem;
  text-align: center;
  text-decoration: none;
  max-height: 40px;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  background-color: rgb(171, 161, 161);
}
.button-35:active {
  background-color: aqua;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button-35:focus {
  /* Lisää tyyliä focus-tilaan, esimerkiksi reunus tai taustaväri */
  outline: 2px solid #007bff;
}

.hiddenButton {
  position: relative;
  display: none    
}
@media (max-width: 766px) {
  .sidebar {
    display: none;
  }
  .hiddenButton {
    display: block;
    margin-left: 10px;
  }
}