* {
  box-sizing: border-box;
  padding: 0 px;
  margin: 0 px;
}

.nav{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* .links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40px;
  align-items: center;
} */

.link {
  font-size: 20px;
}
.hiddenLink {
  display: none;
}
.loginInput {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  right: 100px; */
}
.loginInput > input {
  border-radius: 6px;
  
}
.loginInput > button {
  background-color: rgb(192, 41, 41);
  width: 80px;
  border-radius: 8px;
  cursor: pointer;
}
.loginInput > button:hover {
  background-color: rgb(171, 161, 161);
 
}
.searchBar{
  text-align: center;
}
.searchBar > input{
  width: 60%;
  border-radius: 6px;
}
.register > label > input,button {
  border-radius: 6px;
}


